{% extends 'base.html' %}

{% block meta %}
<title>Registrasi Akun</title>
{% endblock meta %}

{% block content %}  

<div class="register py-16 bg-blue-200">
    
    <h1 class="text-5xl font-bold text-center pt-8"><span class="text-red-600">U-</span><span class="text-yellow-600">League</span> Register</h1>
    <h3 class="text-center mt-3 text-xl">Welcome!</h3>

    <form method="POST" action="" autocomplete="off">
        {% csrf_token %}
        <table class="register_table grid grid-cols-1 grid-rows-1 place-items-center pt-8">
            <tr>
                <td><div class="register_username mt-4 font-bold mr-4">Username: </div></td>
                <td><input type="text" name="username" placeholder="Username" class="form-control mt-4"></td>
            </tr>
            <tr>
                <td><div class="register_username mt-4 font-bold mr-4">Nama Depan:</div></td>
                <td><input type="text" name="fname" placeholder="Nama Depan" class="form-control mt-4"></td>
            </tr>

            <tr>
                <td><div class="register_password mt-4 font-bold">Nama Belakang:</div></td>
                <td><input type="text" name="lname" placeholder="Nama Belakang" class="form-control mt-4"></td>
            </tr>
            
            <tr>
                <td><div class="register_username mt-4 font-bold mr-4">Nomor HP:</div></td>
                <td><input type="text" name="phone" placeholder="Nomor HP" class="form-control mt-4"></td>
            </tr>

            <tr>
                <td><div class="register_password mt-4 font-bold">Email:</div></td>
                <td><input type="email" name="email" placeholder="Email" class="form-control mt-4"></td>
            </tr>

            <tr>
                <td><div class="register_username mt-4 font-bold mr-4">Alamat:</div></td>
                <td><input type="text" name="address" placeholder="Alamat" class="form-control mt-4"></td>
            </tr>

            <tr>
                <td><div class="register_password mt-4 font-bold">Status:</div></td>
                <td>
                    <input type="radio" name="status" value="mahasiswa" id="status_mahasiswa">
                    <label for="status_mahasiswa">Mahasiswa</label>
                    <br>
                    <input type="radio" name="status" value="dosen" id="status_dosen">
                    <label for="status_dosen">Dosen</label>
                    <br>
                    <input type="radio" name="status" value="tendik" id="status_tendik">
                    <label for="status_tendik">Tendik</label>
                    <br>
                    <input type="radio" name="status" value="alumni" id="status_alumni">
                    <label for="status_alumni">Alumni</label>
                    <br>
                    <input type="radio" name="status" value="umum" id="status_umum">
                    <label for="status_umum">Umum</label>
                </td>
            </tr>

            <tr>
                <td><div class="register_username mt-4 font-bold mr-4">Jabatan:</div></td>
                <td><input type="text" name="position" placeholder="Jabatan" class="form-control mt-4"></td>
            </tr>

            <tr class="text-center">
                <td></td>
                <td><input class="btn btn-primary registerpage_button text-blue-600 hover:text-white my-4 font-bold" type="submit" value="Register"></td>
            </tr>
        </table>
    </form>
</div>  

{% endblock content %}
