{% extends 'base.html' %}

{% block meta %}
<title>Registrasi Akun</title>
{% endblock meta %}

{% block content %}  

<div class="register py-16 bg-blue-200">
    
    <h1 class="text-5xl font-bold text-center pt-8">
        <span class="text-red-600">U-</span><span class="text-yellow-600">League</span> Register
    </h1>
    <h3 class="text-center mt-3 text-xl">Welcome!</h3>

    <div class="flex justify-center mt-8">
        <a href="manajer/" class="btn mr-4 rounded bg-red-600 font-bold hover:bg-red-800 text-white">Manajer</a>
        <a href="penonton/" class="btn mr-4 rounded bg-blue-600 font-bold hover:bg-blue-800 text-white">Penonton</a>
        <a href="panitia/" class="btn mr-4 rounded bg-yellow-600 font-bold hover:bg-yellow-800 text-white">Panitia</a>
        <a href="user/" class="btn rounded bg-green-600 font-bold hover:bg-green-800 text-white">New User</a>
    </div>
    
</div>

{% endblock content %}
