{% extends 'base.html' %} {% block meta %}
<title>Mengelola Tim</title>
{% endblock meta %} {% block content %}

<div class="font-bold text-center text-3xl">Mengelola Tim</div>

<div class="text-xl font-bold text-center mt-2">Pemain</div>
<div class="relative overflow-x-auto shadow-md sm:rounded-lg">
  <table class="w-full text-sm text-left text-gray-500 dark:text-gray-400">
    <thead
      class="text-xs text-gray-700 uppercase bg-gray-50 dark:bg-gray-700 dark:text-gray-400"
    >
      <tr>
        <th scope="col" class="px-6 py-3">Nama Pemain</th>
        <th scope="col" class="px-6 py-3">No HP</th>
        <th scope="col" class="px-6 py-3">Tanggal Lahir</th>
        <th scope="col" class="px-6 py-3">is Captain</th>
        <th scope="col" class="px-6 py-3">Posisi</th>
        <th scope="col" class="px-6 py-3">NPM</th>
        <th scope="col" class="px-6 py-3">Jenjang</th>
        <th scope="col" class="px-6 py-3">Action</th>
      </tr>
    </thead>
    <tbody>
      {% if list_pemain %}
      {% for pemain in list_pemain %}
      <tr class="bg-white border-b dark:bg-gray-900 dark:border-gray-700">
        <td class="px-6 py-4">{{pemain.nama_depan}} {{pemain.nama_belakang}}</td>
        <td class="px-6 py-4">{{pemain.nomor_hp}}</td>
        <td class="px-6 py-4">{{pemain.tgl_lahir}}</td>
        <td class="px-6 py-4">
          {% if pemain.is_captain %}
          Yes
          {% else %}
          No
          {% endif %}
        </td>
        <td class="px-6 py-4">{{pemain.posisi}}</td>
        <td class="px-6 py-4">{{pemain.npm}}</td>
        <td class="px-6 py-4">{{pemain.jenjang}}</td>
        <td class="px-6 py-4">
          {% if pemain.is_captain != True %}
            <form method="POST" action="/mengelola/make_captain/">
              {% csrf_token %}
              <button class="bg-blue-400 font-bold text-center text-white p-2" name="id" value="{{pemain.id_pemain}}" type='submit'>
              Make Captain
              </button>
            </form>
          {% endif %}
          <form method="POST" action="/mengelola/delete_pemain/">
            {% csrf_token %}
            <button class="bg-red-400 font-bold text-center text-white p-2" name="id" value="{{pemain.id_pemain}}">
              Delete
            </button>
          </form>
        </td>
      </tr>
      {% endfor %}
      {% endif %}
    </tbody>
  </table>

  <div class="text-xl font-bold text-center mt-4">Pelatih</div>
  <table class="w-full text-sm text-left text-gray-500 dark:text-gray-400">
    <thead
      class="text-xs text-gray-700 uppercase bg-gray-50 dark:bg-gray-700 dark:text-gray-400"
    >
      <tr>
        <th scope="col" class="px-6 py-3">Nama Pelatih</th>
        <th scope="col" class="px-6 py-3">No HP</th>
        <th scope="col" class="px-6 py-3">Email</th>
        <th scope="col" class="px-6 py-3">Alamat</th>
        <th scope="col" class="px-6 py-3">Spesialisasi</th>
        <th scope="col" class="px-6 py-3">Action</th>
      </tr>
    </thead>
    <tbody>
      {% if list_pelatih %}
      {% for pelatih in list_pelatih %}
      <tr class="bg-white border-b dark:bg-gray-900 dark:border-gray-700">
        <td class="px-6 py-4">{{pelatih.nama_depan}} {{pelatih.nama_belakang}}</td>
        <td class="px-6 py-4">{{pelatih.nomor_hp}}</td>
        <td class="px-6 py-4">{{pelatih.email}}</td>
        <td class="px-6 py-4">{{pelatih.alamat}}</td>
        <td class="px-6 py-4">{{pelatih.spesialisasi}}</td>
        <td class="px-6 py-4">
          <form method="POST" action="/mengelola/delete_pelatih/">
            {% csrf_token %}
            <button class="bg-red-400 font-bold text-center text-white p-2" name="id" value="{{pelatih.id}}">
              Delete
            </button>
          </form>
        </td>
      </tr>
      {% endfor %}
      {% endif %}
    </tbody>
  </table>

  <div class="text-center">
      <a href="player/" class=""><button class="mt-4 text-center p-4 rounded font-bold border hover:bg-yellow-700 hover:text-white">Tambah Pemain</button></a>
      <a href="trainer/" class=""><button class="mt-4 text-center p-4 rounded font-bold border hover:bg-red-700 hover:text-white">Tambah Pelatih</button></a>
  </div>

  {% endblock content %}
</div>