{% extends 'base.html' %}

{% block meta %}
<title>Mengelola Tim</title>
{% endblock meta %}

{% block content %}

<div class = "register py-16 bg-blue-200">
    
    <h1 class="text-5xl font-bold text-center pt-8"><span class="text-red-600">U-</span><span class="text-yellow-600">League</span> Team Registration</h1>
    <h3 class="text-center mt-3 text-xl">Welcome!</h3>

        <form method="POST" >  
            {% csrf_token %}  
            <table class="register_form grid grid-cols-1 grid-rows-1 place-items-center pt-8">  
                {{ form.as_table }}  
                <tr>  
                    <td></td>
                    <td><input class="btn btn-primary login_button register_button text-blue-600 hover:text-white my-4 font-bold" type="submit" value="Daftar"></td> 
                </tr>  
            </table>  
        </form>

    {% if messages %}  
        <ul>   
            {% for message in messages %}  
                <li>{{ message }}</li>  
                {% endfor %}  
        </ul>   
    {% endif %}

</div>  

{% endblock content %}