{% extends 'base.html' %}
{% block meta %}
<title>List Pertandingan</title>
{% endblock meta %}
{% block content %}

<div class="text-center text-3xl font-bold mb-4 mt-2">List Pertandingan</div>

<div class="relative overflow-x-auto shadow-md sm:rounded-lg">
  <table class="w-full text-sm text-left text-gray-500 dark:text-gray-400">
    <thead class="text-xs text-gray-700 uppercase bg-gray-50 dark:bg-gray-700 dark:text-gray-400">
      <tr>
        <th scope="col" class="px-6 py-3">Tim Bertanding</th>
        <th scope="col" class="px-6 py-3">Stadium</th>
        <th scope="col" class="px-6 py-3">Tanggal dan Waktu</th>
      </tr>
    </thead>
    <tbody>
      {% for pertandingan in pertandingan_list %}
      <tr class="bg-white border-b dark:bg-gray-900 dark:border-gray-700">
        <td class="px-6 py-4 font-medium text-gray-900 whitespace-nowrap dark:text-white">
          {{ pertandingan.0 }} vs {{ pertandingan.1 }}
        </td>
        <td class="px-6 py-4">{{ pertandingan.2 }}</td>
        <td class="px-6 py-4">{{ pertandingan.3|date:"d F Y, H:i" }}</td>
      </tr>
      {% endfor %}
    </tbody>
  </table>
</div>

{% endblock content %}
