{% extends 'base.html' %} {% block meta %}
<title>Rapat</title>
{% endblock meta %}

{% block content %}
<div class="font-bold text-center text-3xl">List Pertandingan</div>


<div class="relative overflow-x-auto shadow-md sm:rounded-lg">
    <table class="w-full text-sm text-left text-gray-500 dark:text-gray-400">
        <thead
        class="text-xs text-gray-700 uppercase bg-gray-50 dark:bg-gray-700 dark:text-gray-400"
        >
        <tr>
            <th scope="col" class="px-6 py-3">Tim Bertanding</th>
            <th scope="col" class="px-6 py-3">Stadium</th>
            <th scope="col" class="px-6 py-3">Tanggal dan Waktu</th>
            <th scope="col" class="px-6 py-3">Action</th>
        </tr>
        </thead>


        <tbody>
        <tr class="bg-white border-b dark:bg-gray-900 dark:border-gray-700">
            <td class="px-6 py-4">A vs B</td>
            <td class="px-6 py-4">Stadium GBK</td>
            <td class="px-6 py-4">5 Juli 2023, 07.00 - 09.00</td>
            <td class="px-6 py-4"><a href="isi/">Mulai Rapat</a></td>
        </tr>

        </tbody>
    </table>
</div>
{% endblock content %}