{% extends 'base.html' %} {% block meta %}
<title>Pembuatan Pertandingan</title>
{% endblock meta %}

{% block content %}
<h1 class="text-2xl font-bold mb-4 text-center">Pembuatan Pertandingan</h1>

<form class="text-center" action="waktu/">
    <div class="mb-4">
        <label class="block text-gray-700 font-bold mb-2" for="stadium">Stadium</label>
        <select class="border rounded py-2 px-3 text-gray-700 leading-tight" id="stadium" name="stadium">
            <option value="">-- Pilih Stadium --</option>
            <option value="stadiumA">Stadium A</option>
            <option value="stadiumB">Stadium B</option>
            <option value="stadiumC">Stadium C</option>
            <option value="stadiumD">Stadium D</option>
        </select>
    </div>
    <div class="mb-4">
        <label class="block text-gray-700 font-bold mb-2" for="tanggal">Tanggal</label>
        <input type="date" name="tanggal" id="tanggal">

    </div>

    <div class="mb-4">
        <button class="bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded">
        Next
        </button>
    </div>
</form>

{% endblock content %}