{% extends 'base.html' %} {% block meta %}
<title>Pembuatan Pertandingan</title>
{% endblock meta %}

{% block content %}
<h1 class="text-2xl font-bold mb-4 text-center">Buat Pertandingan</h1>

<form class="text-center" action="/creation/" method="POST" autocomplete="off">
    {% csrf_token %}
    <div class="mb-4">
        <label class="block text-gray-700 font-bold mb-2" for="wasitUtama">Wasit Utama</label>
        <select class="border rounded py-2 px-3 text-gray-700 leading-tight" id="wasitUtama" name="wasitUtama" required>
            <option value="">-- Pilih Wasit --</option>
            {% for w in wasit %}
                <option value={{w.0}}>{{ w.1 }} {{ w.2 }}</option>
            {% endfor %}
        </select>
    </div>

    <div class="mb-4">
        <label class="block text-gray-700 font-bold mb-2" for="wasitPembantu1">Wasit Pembantu</label>
        <select class="border rounded py-2 px-3 text-gray-700 leading-tight" id="wasitPembantu1" name="wasitPembantu1" required>
            <option value="">-- Pilih Wasit --</option>
            {% for w in wasit %}
                <option value={{w.0}}>{{ w.1 }} {{ w.2 }}</option>
            {% endfor %}
        </select>
    </div>

    <div class="mb-4">
        <label class="block text-gray-700 font-bold mb-2" for="wasitPembantu2">Wasit Pembantu</label>
        <select class="border rounded py-2 px-3 text-gray-700 leading-tight" id="wasitPembantu2" name="wasitPembantu2" required>
            <option value="">-- Pilih Wasit --</option>
            {% for w in wasit %}
                <option value={{w.0}}>{{ w.1 }} {{ w.2 }}</option>
            {% endfor %}
        </select>
    </div>

    <div class="mb-4">
        <label class="block text-gray-700 font-bold mb-2" for="wasitCadangan">Wasit Cadangan</label>
        <select class="border rounded py-2 px-3 text-gray-700 leading-tight" id="wasitCadangan" name="wasitCadangan" required>
            <option value="">-- Pilih Wasit --</option>
            {% for w in wasit %}
                <option value={{w.0}}>{{ w.1 }} {{ w.2 }}</option>
            {% endfor %}
        </select>
    </div>

    <div class="mb-4">
        <label class="block text-gray-700 font-bold mb-2" for="timSatu">Tim 1</label>
        <select class="border rounded py-2 px-3 text-gray-700 leading-tight" id="timSatu" name="timSatu" required>
            <option value="">-- Pilih Tim --</option>
            {% for t in tim %}
                <option value="{{t.0}}">{{ t.0 }}</option>
            {% endfor %}
        </select>
    </div>

    <div class="mb-4">
        <label class="block text-gray-700 font-bold mb-2" for="timDua">Tim 2</label>
        <select class="border rounded py-2 px-3 text-gray-700 leading-tight" id="timDua" name="timDua" required>
            <option value="">-- Pilih Tim --</option>
            {% for t in tim %}
                <option value="{{t.0}}">{{ t.0 }}</option>
            {% endfor %}
        </select>
    </div>

    <input type="text" value="{{ stadium_id }}" placeholder="{{ stadium_id }}" name="stadiumId" id="stadiumId" style="display: none;">
    <input type="text" value="{{ tanggal }}" placeholder="{{ tanggal }}" name="tanggal" id="tanggal" style="display: none;">


    <div class="mb-4">
        <button class="bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded">
        Submit
        </button>
    </div>
</form>

{% endblock content %}