{% extends 'base.html' %} {% block meta %}
<title>Pembuatan Pertandingan</title>
{% endblock meta %}

{% block content %}

<div class="text-xl font-bold text-center mt-2">List Pertandingan</div>
<div class="relative overflow-x-auto shadow-md sm:rounded-lg">
    <table class="w-full text-sm text-left text-gray-500 dark:text-gray-400">
        <thead
        class="text-xs text-gray-700 uppercase bg-gray-50 dark:bg-gray-700 dark:text-gray-400"
        >
        <tr>
            <th scope="col" class="px-6 py-3">Grup A</th>
            <th scope="col" class="px-6 py-3">Action</th>
        </tr>
        </thead>


        <tbody>

        {% if grup_a %}
            {% for team in grup_a %}
                <tr class="bg-white border-b dark:bg-gray-900 dark:border-gray-700">
                        <td class="px-6 py-4">{{ team.0 }} vs {{ team.1 }}</td>
                        <td class="px-6 py-4">
                        <form action="update/" method="post">
                            {% csrf_token %}
                            <input type="text" value="{{ team.2 }}" placeholder="{{ team.2 }}" name="idPertandingan" id="idPertandingan" style="display: none;">
                            <button>Update</button>
                        </form>
                        <form action="delete/" method="post">
                            {% csrf_token %}
                            <input type="text" value="{{ team.2 }}" placeholder="{{ team.2 }}" name="idPertandingan" id="idPertandingan" style="display: none;">
                            <button>Delete</button>
                        </form>
                </tr>
            {% endfor %}
        {% else %}
            <tr class="bg-white border-b dark:bg-gray-900 dark:border-gray-700">
                <td class="px-6 py-4">? vs ?</td>
                <td class="px-6 py-4"><a href="add/">Add</a></td>
            </tr>
        {% endif %}


        </tbody>


        <!-- SECOND GROUP -->
        <thead
        class="text-xs text-gray-700 uppercase bg-gray-50 dark:bg-gray-700 dark:text-gray-400"
        >
        <tr>
            <th scope="col" class="px-6 py-3">Grup B</th>
            <th scope="col" class="px-6 py-3">Action</th>
        </tr>
        </thead>


        <tbody>
        {% if grup_b %}
            {% for team in grup_b %}
                <tr class="bg-white border-b dark:bg-gray-900 dark:border-gray-700">
                        <td class="px-6 py-4">{{ team.0 }} vs {{ team.1 }}</td>
                        <td class="px-6 py-4"><a href="add/">Update</a> <a href="#">Delete</a></td>
                </tr>
            {% endfor %}
        {% else %}
            <tr class="bg-white border-b dark:bg-gray-900 dark:border-gray-700">
                <td class="px-6 py-4">? vs ?</td>
                <td class="px-6 py-4"><a href="add/">Add</a></td>
            </tr>
        {% endif %}
        </tbody>



        <!-- THIRD GROUP -->
        <thead
        class="text-xs text-gray-700 uppercase bg-gray-50 dark:bg-gray-700 dark:text-gray-400"
        >
        <tr>
            <th scope="col" class="px-6 py-3">Grup C</th>
            <th scope="col" class="px-6 py-3">Action</th>
        </tr>
        </thead>


        <tbody>
        {% if grup_c %}
            {% for team in grup_c %}
                <tr class="bg-white border-b dark:bg-gray-900 dark:border-gray-700">
                        <td class="px-6 py-4">{{ team.0 }} vs {{ team.1 }}</td>
                        <td class="px-6 py-4"><a href="add/">Update</a> <a href="#">Delete</a></td>
                </tr>
            {% endfor %}
        {% else %}
            <tr class="bg-white border-b dark:bg-gray-900 dark:border-gray-700">
                <td class="px-6 py-4">? vs ?</td>
                <td class="px-6 py-4"><a href="add/">Add</a></td>
            </tr>
        {% endif %}
        </tbody>


        <!-- FOURTH GROUP -->
        <thead
        class="text-xs text-gray-700 uppercase bg-gray-50 dark:bg-gray-700 dark:text-gray-400"
        >
        <tr>
            <th scope="col" class="px-6 py-3">Grup D</th>
            <th scope="col" class="px-6 py-3">Action</th>
        </tr>
        </thead>


        <tbody>
        {% if grup_d %}
            {% for team in grup_d %}
                <tr class="bg-white border-b dark:bg-gray-900 dark:border-gray-700">
                        <td class="px-6 py-4">{{ team.0 }} vs {{ team.1 }}</td>
                        <td class="px-6 py-4"><a href="add/">Update</a> <a href="#">Delete</a></td>
                </tr>
            {% endfor %}
        {% else %}
            <tr class="bg-white border-b dark:bg-gray-900 dark:border-gray-700">
                <td class="px-6 py-4">? vs ?</td>
                <td class="px-6 py-4"><a href="add/">Add</a></td>
            </tr>
        {% endif %}
        </tbody>
        
    </table>
</div>
{% endblock content %}