{% extends 'base.html' %} {% block meta %}
<title>Pembuatan Pertandingan</title>
{% endblock meta %}

{% block content %}

<div class="text-xl font-bold text-center mt-2">List Pertandingan</div>
<div class="relative overflow-x-auto shadow-md sm:rounded-lg">
    <table class="w-full text-sm text-left text-gray-500 dark:text-gray-400">
        <thead
        class="text-xs text-gray-700 uppercase bg-gray-50 dark:bg-gray-700 dark:text-gray-400"
        >
        <tr>
            <th scope="col" class="px-6 py-3">Grup A</th>
            <th scope="col" class="px-6 py-3">Action</th>
            <th scope="col" class="px-6 py-3">Grup B</th>
            <th scope="col" class="px-6 py-3">Action</th>
        </tr>
        </thead>


        <tbody>
        <tr class="bg-white border-b dark:bg-gray-900 dark:border-gray-700">
            <td class="px-6 py-4">A VS B</td>
            <td class="px-6 py-4"><a href="update/">Update</a> <a href="#">Delete</a></td>
            <td class="px-6 py-4">I VS J</td>
            <td class="px-6 py-4"><a href="update/">Update</a> <a href="#">Delete</a></td>
        </tr>

        <tr class="bg-white border-b dark:bg-gray-900 dark:border-gray-700">
            <td class="px-6 py-4">C VS D</td>
            <td class="px-6 py-4"><a href="update/">Update</a> <a href="#">Delete</a></td>
            <td class="px-6 py-4">K VS L</td>
            <td class="px-6 py-4"><a href="update/">Update</a> <a href="#">Delete</a></td>
        </tr>
        <tr class="bg-white border-b dark:bg-gray-900 dark:border-gray-700">
            <td class="px-6 py-4">E VS F</td>
            <td class="px-6 py-4"><a href="update/">Update</a> <a href="#">Delete</a></td>
            <td class="px-6 py-4">M VS N</td>
            <td class="px-6 py-4"><a href="update/">Update</a> <a href="#">Delete</a></td>
        </tr>
        <tr class="bg-white border-b dark:bg-gray-900 dark:border-gray-700">
            <td class="px-6 py-4">G VS H</td>
            <td class="px-6 py-4"><a href="update/">Update</a> <a href="#">Delete</a></td>
            <td class="px-6 py-4">? VS ?</td>
            <td class="px-6 py-4"><a href="add/">Add</a></td>
        </tr>

        </tbody>


        <!-- SECOND GROUP -->
        <thead
        class="text-xs text-gray-700 uppercase bg-gray-50 dark:bg-gray-700 dark:text-gray-400"
        >
        <tr>
            <th scope="col" class="px-6 py-3">Grup C</th>
            <th scope="col" class="px-6 py-3">Action</th>
            <th scope="col" class="px-6 py-3">Grup D</th>
            <th scope="col" class="px-6 py-3">Action</th>
        </tr>
        </thead>


        <tbody>
        <tr class="bg-white border-b dark:bg-gray-900 dark:border-gray-700">
            <td class="px-6 py-4">O VS P</td>
            <td class="px-6 py-4"><a href="update/">Update</a> <a href="#">Delete</a></td>
            <td class="px-6 py-4">Q VS R</td>
            <td class="px-6 py-4"><a href="update/">Update</a> <a href="#">Delete</a></td>
        </tr>



        </tbody>
        
    </table>
</div>
{% endblock content %}