{% extends 'base.html' %} {% block meta %}
<title>Dashboard</title>
{% endblock meta %} {% block content %}

<div class="container mx-auto px-4 py-8">
  <h1 class="text-2xl font-bold mb-4">Dashboard {{role}}</h1>

  <section class="bg-white rounded-lg shadow-md px-6 py-4 mb-8">
    <h2 class="text-lg font-bold mb-4">Profile {{ role }}</h2>
    <div class="flex flex-wrap mb-2">
      <div class="w-full md:w-1/2">
        <label class="block text-gray-700 font-bold mb-2" for="first-name">
          First Name
        </label>
        {{ fname }}
      </div>
      <div class="w-full md:w-1/2 md:pl-4">
        <label class="block text-gray-700 font-bold mb-2" for="last-name">
          Last Name
        </label>
        {{ lname }}
      </div>
    </div>
    <div class="flex flex-wrap mb-2">
      <div class="w-full md:w-1/2">
        <label class="block text-gray-700 font-bold mb-2" for="phone">
          Phone Number
        </label>
        {{ phone }}
      </div>
      <div class="w-full md:w-1/2 md:pl-4">
        <label class="block text-gray-700 font-bold mb-2" for="email">
          Email Address
        </label>
        {{ email }}
      </div>
    </div>
    <div class="flex flex-wrap mb-2">
      <div class="w-full md:w-1/2">
        <label class="block text-gray-700 font-bold mb-2" for="phone">
          Address
        </label>
        {{ address }}
      </div>
      <div class="w-full md:w-1/2 md:pl-4">
        <label class="block text-gray-700 font-bold mb-2" for="email">
          status
        </label>
        {{ status }}
      </div>
    </div>
    {% if role == 'panitia' %}
    <div class="w-full md:w-1/2">
      <label class="block text-gray-700 font-bold mb-2" for="position">
        Position
      </label>
      {{ rank }}
    </div>
    {% endif %}
  </section>
  <!-- Manager section -->
  {% if role == 'manajer' %}
  <section class="bg-white rounded-lg shadow-md px-6 py-4 mb-8">
    <h2 class="text-lg font-bold mb-4">Manager</h2>
    {% if manajer_tim %}
    <table class="border-collapse w-full">
      <thead>
        <tr>
          <th class="border border-gray-400 px-4 py-2">Team</th>
          <th class="border border-gray-400 px-4 py-2">Team Members</th>
        </tr>
      </thead>
      <tbody>
        {% for team_player in manajer_tim %}
        <tr>
          <td class="border border-gray-400 px-4 py-2">
            {{ team_player.team_name }}
          </td>
          <td class="border border-gray-400 px-4 py-2">
            <ul class="list-disc list-inside">
              {% for player_name in team_player.player_names %}
              <li>{{ player_name }}</li>
              {% endfor %}
            </ul>
          </td>
        </tr>
        {% endfor %}
      </tbody>
    </table>
    {% else %}
    <p class="text-center font-bold text-red-500">Belum Membuat Tim</p>
    {% endif %}
  </section>
  {% endif %}

  <!-- Audience section -->
  {% if role == 'penonton' %}
  <section class="bg-white rounded-lg shadow-md px-6 py-4 mb-8">
    <h2 class="text-lg font-bold mb-4">Audience</h2>
    <div class="mb-2">
      <label class="block text-gray-700 font-bold mb-2" for="upcoming-events">
        Upcoming Events
      </label>
      {% if upcoming_pertandingan_list %}
      <table class="border-collapse w-full">
        <thead>
          <tr>
            <th class="border border-gray-400 px-4 py-2">Pertandingan</th>
            <th class="border border-gray-400 px-4 py-2">Start Date</th>
            <th class="border border-gray-400 px-4 py-2">End Date</th>
            <th class="border border-gray-400 px-4 py-2">Stadium</th>
          </tr>
        </thead>
        <tbody>
          {% for pertandingan in upcoming_pertandingan_list %}
          <tr>
            <td class="border border-gray-400 px-4 py-2">
              {{ pertandingan.pertandingan_id }}
            </td>
            <td class="border border-gray-400 px-4 py-2">
              {{ pertandingan.start_datetime }}
            </td>
            <td class="border border-gray-400 px-4 py-2">
              {{ pertandingan.end_datetime }}
            </td>
            <td class="border border-gray-400 px-4 py-2">
              {{ pertandingan.stadium_name }}
            </td>
          </tr>
          {% endfor %}
        </tbody>
      </table>
      {% else %}
      <p class="text-center font-bold text-red-500">Belum Memesan Pertandingan</p>
      {% endif %}
    </div>
  </section>
  {% endif %}

  <!-- Committee section -->
  {% if role == 'panitia' %}
  <section class="bg-white rounded-lg shadow-md px-6 py-4 mb-8">
    <h2 class="text-lg font-bold mb-4">Committee</h2>
    <div class="mb-2">
      <label class="block text-gray-700 font-bold mb-2" for="upcoming-meetings">
        Upcoming Meetings
      </label>
      {% if upcoming_meetings %}
      <table class="table-auto">
        <thead>
          <tr>
            <th class="px-4 py-2">Datetime</th>
            <th class="px-4 py-2">Isi Rapat</th>
          </tr>
        </thead>
        <tbody>
          {% for meeting in upcoming_meetings %}
          <tr>
            <td class="border px-4 py-2">{{ meeting.Datetime }}</td>
            <td class="border px-4 py-2">{{ meeting.Isi_Rapat }}</td>
          </tr>
          {% endfor %}
        </tbody>
      </table>
      {% else %}
      <p class="text-center font-bold text-red-500">Belum Ada Rapat</p>
      {% endif %}
    </div>
  </section>
  {% endif %}
</div>

{% endblock content %}
