{% extends 'base.html' %}
{% load static %}

{% block meta %}
<title>U-League</title>
{% endblock meta %}

{% block content %}
  <div class="bg-[url('../../static/images/home.png')] color-white bg-fixed bg-no-repeat w-full bg-cover bg-center">
    <div class="bg-[#000000CC] font-bold text-center text-5xl py-40 text-yellow-400"><span class="text-blue-500">U -</span> LEAGUE</div>
  </div> 
  <div class="py-12">
    <div class="text-center text-4xl font-bold py-4">About Us</div>
    <hr class="mx-12">
    <div class="text-center text-2xl p-12"><span class="text-yellow-500 font-bold">U-League</span> Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ipsum dicta doloremque voluptatibus totam, consequatur ad ab ipsam impedit sed distinctio minus beatae facilis ea veniam dignissimos dolore nemo animi esse?</div>
  </div>
{% endblock content %}