{% extends 'base.html' %} {% block meta %}
<title>Peminjaman Stadium</title>
{% endblock meta %}

{% block content %}
<div class="font-bold text-center text-3xl">Peminjaman Stadium</div>

<div class="text-xl font-bold text-center mt-2">List Pemesanan</div>
<div class="relative overflow-x-auto shadow-md sm:rounded-lg">
    <table class="w-full text-sm text-left text-gray-500 dark:text-gray-400">
        <thead
        class="text-xs text-gray-700 uppercase bg-gray-50 dark:bg-gray-700 dark:text-gray-400"
        >
        <tr>
            <th scope="col" class="px-6 py-3">Stadium</th>
            <th scope="col" class="px-6 py-3">Waktu</th>
        </tr>
        </thead>
        <tbody>
        {% for obj in peminjaman%}
        <tr class="bg-white border-b dark:bg-gray-900 dark:border-gray-700">
            <td class="px-6 py-4">{{obj.nama_stadium}}</td>
            <td class="px-6 py-4">{{obj.start_datetime}}</td>
            <!-- <td class="px-6 py-4">April 2012</td> -->
        </tr>
        {% endfor %}
        </tbody>
    </table>

    <div class="text-center">
        <a href="sesi/" class=""><button class="mt-4 text-center p-4 rounded font-bold border hover:bg-yellow-700 hover:text-white">Pesan</button></a>
    </div>
</div>
{% endblock content %}